<% @page_title = "#{h(@user.name)}(@#{h(@user.screen_name)}) さんの食べたものログ" -%>

  <!--
<div class="curve-04">
<div class="curve-head"><div></div></div>
-->

  <div class="content">

  <h2 style="margin-top:0;">
    <img id="profile_image" src="<%= @user.profile_image_url %>" />
    <%=h @user.name %>(<a href="http://twitter.com/<%=h @user.screen_name %>">@<%=h @user.screen_name %></a>)さんが<%= @month_start.strftime('%Y年%m月') %>に食べたもの
  </h2>

  <% @tweets.group_by{|t| t.created_at.day}.each do |day, tweets| -%>
    <h3><p><%=h day %>日(<%= cwday(tweets[0].created_at.to_datetime.cwday) %>)</p></h3>
    <ul>
      <% tweets.each_with_index do |tweet, i| -%>
        <li><p><%=h tweet.created_at.strftime('%H:%M') %> <%= auto_link(h(tweet.text)) %></p></li>
      <% end -%>
    </ul>
  <% end -%>
  
  <h2 style="margin-top:20px;"><%= image_tag "icon/chr2_siro.gif" %> よく食べていそうなもの</h2>
  <p><%= hot_word(@favorite_foods) -%></p>

  </div>

  <!--
<div class="curve-bottom"><div></div></div>
</div>
-->



