<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= @title || '食べたものログ' %></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css"> 
    <%= stylesheet_link_tag 'base' %>
    <%#= javascript_include_tag 'shadedborder' %>
  </head>
  
  <body>
    <div id="header">
      <h1><a href="/" class="no-border"><%= image_tag 'logo.png' %></a></h1>
    </div>

    <div id="wrapper">
      <%= yield %>
    </div>
  
    <div id="footer">
      <ul>
        <li><%= link_to 'ヘルプ', :controller => 'about', :action => 'help' %></li>
        <li><%= link_to '利用規約', :controller => 'about', :action => 'term' %></li>
        <li><a href="http://ecpplus.net/" target="_blank">運営者情報</a></li>
      <ul>
      <!--<p><%= image_tag 'icon/ic_book.gif' %> 追加したい機能</p>-->
    </div>


    <script type="text/javascript">
      //window.onload = function() {
      //  var myBorder = RUZEE.ShadedBorder.create({ corner:8, shadow:16 });
      //  myBorder.render('wrapper');
      //}

      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-682965-3");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>


  </body>
</html>
