<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= @title || '食べたものログ' %></title>
    <!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css">-->
    <%= stylesheet_link_tag 'reset-min.css', 'fonts-min.css', 'html5-reset-1.4.css', 'base' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div id="header">
      <h1><a href="/" class="no-border"><%= image_tag 'logo.png' %></a></h1>
    </div>


    <div id="wrapper">
      <% if flash[:notice] %><p class="flash-message flash-notice"><%= flash[:notice] %></p><% end %>
      <% if flash[:error] %><p class="flash-message flash-error"><%= flash[:error] %></p><% end %>
      <%= yield %>
    </div>
  
    <div id="footer">
      <ul>
        <li><%= link_to 'ヘルプ', :controller => 'about', :action => 'help' %></li>
        <!--<li><%= link_to '利用規約', :controller => 'about', :action => 'term' %></li>-->
        <li><a href="http://ecpplus.net/" target="_blank">運営者情報</a></li>
      <ul>
      <!--<p><%= image_tag 'icon/ic_book.gif' %> 追加したい機能</p>-->
    </div>


    <script type="text/javascript">
      //window.onload = function() {
      //  var myBorder = RUZEE.ShadedBorder.create({ corner:8, shadow:16 });
      //  myBorder.render('wrapper');
      //}

      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-682965-3");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>


  </body>
</html>
